<html>
    <head>

    </head>

    <body>
      
      <div class="about_hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Tina Wigert- Master Montessori Teacher, Dyslexia Advocate, Organizer</h1>
    <br />
    <br />
  </div>
</div>
<br />
      <h2 class="text-center">Montessori Teacher, Expert Dyslexia tutor and advocate and Organizer</h2>
      <br />
      <p> 
      Tina Wigert is passionate about Montessori education for Elementary students. With over 30 years of classroom experience, a masters in montessori curriculum and a passion for student success. In addition to being a montessori teacher, Tina also has extensive training in providing support to children with dyslexia. She has desgined and implemented her owen proven tutoring techniques to support children struggling with readiing, spelling and grammar. Finally, Tina is highly organized and loves to help people stay organized!
      </p>
    </body>
  </html>
