<!-- hero section -->
<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Tina Wigert- Master Montessori Teacher, Dyslexia Advocate, Organizer</h1>
    <br />
    <br />
  </div>
</div>

<!-- 3 part section -->

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
     <h3>Master Teacher</h3>
    <br />
    <p>30 Plus years of experience, traning and effective classroom experience.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Expert Dyslexia Support Tutor</h3>
    <br />
    <p>Custom Tutoring Sessions Catored to Your Child's Learning Style, Needs and Emotional Support</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Get Organized!</h3>
    <br />
    <p>Have Too Much Junk? Tina will help!</p>
  </div>
</div>

<br />